# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de configuración y logs
.env
package-lock.json
npm-debug.log
node_modules/.bin/cucumber-js
/node_modules
/node_modules/.bin
/node_modules
